* {
  margin: 0;
  padding: 0;
}

.navbar {
  position: fixed;
  top: 1vh;
  left: 2.5vw;
  right: 2.5vw;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0.3rem 1rem;

  background: rgba(255, 255, 255, 0.2);
  border-radius: var(--radius-md);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);

  z-index: 100;
}

.mobileMenu {
  display: flex;
}

.desktopLinks {
  display: none;
}

.desktopLinks a,
.navLinks a {
  text-decoration: none;
  color: var(--text);
  font-weight: 600;
  transition: color 0.2s ease;
}

.desktopLinks a:hover,
.navLinks a:hover {
  color: var(--primary);
}

.navLinks {
  position: fixed;
  top: 80px;
  right: 2.5vw;

  width: 50vw;

  display: flex;
  flex-direction: column;
  align-items: center;

  background: rgba(255, 255, 255, 0.2);
  border-radius: var(--radius-md);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);

  transform: translateX(calc(100% + 2.5vw));
  transition: transform 0.3s ease;

  z-index: 99;
}

.navLinks a {
  font-size: 1.5rem;
  margin: 1rem;
}

.open {
  transform: translateX(0);
}

/* Tablet & Desktop */
@media (min-width: 768px) {
  .mobileMenu {
    display: none;
  }

  .navbar {
    left: 0.5vw;
    right: 0.5vw;
  }

  .desktopLinks {
    display: flex;
    align-items: center;
    gap: 2rem;
  }

  .desktopLinks a {
    font-size: 1.1rem;
  }

  .navLinks {
    display: none;
  }
}
